<html>
    <head>
        <title>YumaSaya's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">YumaSaya's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.10.2019, 17:36</p>
            <h2><a href="">My first post</a></h2>
            <p>Django Girls rocks!</p>
        </div>

        <div>
            <p>published: 19.10.2019, 18:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Es ist viel und doch spannend; Ergebnisse sehen tut gut und zeigt, dass es sich lohnt.</p>
        </div>
    </body>
</html>
